<div class="content">
  <div class="login">
    <div class="title">
      <h1>Welcome to Virtual Beach</h1>
    </div>
    <form class="fields">
      <mat-form-field class="example-full-width">
        <mat-label>Enter Email</mat-label>
        <input matInput placeholder="Ex. doe.john@epa.gov" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Enter Password</mat-label>
        <input matInput />
      </mat-form-field>
    </form>

    <div>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="login()">
          Login
        </button>
        <button mat-raised-button color="primary" (click)="register()">
          Register
        </button>
      </div>
      <div class="reset">
        <button mat-button (click)="resetPW()">
          Forgot password?
        </button>
      </div>
    </div>

    <ng-container *ngIf="registerUser">
      <app-registration
        (registerUser)="isRegistering($event)"
      ></app-registration>
    </ng-container>

    <ng-container *ngIf="resetUserPW">
      <app-reset-password
        (resetUserPW)="isResetting($event)"
      ></app-reset-password>
    </ng-container>
  </div>
</div>
