<div>
    <form class="fields" [formGroup]="projectMetadataForm" (keyup.enter)="sendForm()">
        <div>
            <mat-form-field>
                <mat-label>Project Name</mat-label>
                <input matInput type="text" formControlName="name" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Project Description</mat-label>
                <input matInput type="test" formControlName="description" />
            </mat-form-field>
        </div>
    </form>
    <div class="centered">{{ statusMessage }}</div>

    <div class="controls">
        <button mat-flat-button color="primary" (click)="cancel()" *ngIf="formType == 'Create Project'">Cancel</button>
        <button mat-flat-button color="primary" (click)="sendForm()">{{ formType }}</button>
    </div>
</div>
