<div class="plot-container">
    <select (change)="selectPlotType($event.target.value)" class="select-plot">
        <option *ngFor="let type of plotTypes" value="{{ type }}" [selected]="plotType === type">
            {{ type }}
        </option>
    </select>
    <select (change)="selectGroup($event.target.value)" class="select-group">
        <option *ngFor="let name of projectData.columnNames" value="{{ name }}" [selected]="selectedGroup === name">
            {{ name }}
        </option>
    </select>
    <app-bar-chart
        *ngIf="plotType === 'bar'"
        [id]="id"
        [projectData]="projectData"
        [selectedGroup]="selectedGroup"
    ></app-bar-chart>
    <app-line-chart
        *ngIf="plotType === 'line'"
        [id]="id"
        [projectData]="projectData"
        [selectedGroup]="selectedGroup"
    ></app-line-chart>
</div>
