.plot-container {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

.select-plot {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 50%;
}

.select-group {
    position: absolute;
    top: 5px;
    left: 50%;
    right: 5px;
}
