<div class="global-options" *ngIf="outerPipelineOptions" [formGroup]="globalOptionsForm">
    <mat-form-field *ngFor="let option of outerPipelineOptions">
        <mat-label>{{ option.name }}</mat-label>
        <mat-select *ngIf="option.vtype == 'string' || option.vtype == 'bool'" formControlName="{{ option.name }}">
            <mat-option *ngFor="let value of option.options" [value]="value">
                {{ value }}
            </mat-option>
        </mat-select>
        <input
            matInput
            *ngIf="option.vtype == 'int'"
            type="number"
            min="{{ option.min }}"
            max="{{ option.max }}"
            formControlName="{{ option.name }}"
        />
        <input
            matInput
            *ngIf="option.vtype == 'float'"
            type="number"
            min="{{ option.min }}"
            max="{{ option.max }}"
            step="0.01"
            formControlName="{{ option.name }}"
        />
    </mat-form-field>
    <button type="button" mat-flat-button color="primary" (click)="updateGlobalOptions()">
        Update Cross Validation Options
    </button>
</div>
