.panel {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}

app-navigation {
  padding-bottom: 1rem;
}

/* ^^^^^^^^^^^^
  the above css sets the heights of the navigation and container sections
  the padding-bottom is consistient with the spacing on other components, but feel free to change

  dashboard css below vvvvvvvvvvv
*/

.container {
  background-color: rgb(235, 235, 235);
}

h1 {
  margin: 0;
  padding: 0;
}
