.panel {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}
/* ^^^^^^^^^^^^
  the above css sets the heights of the navigation and container sections

  dashboard css below vvvvvvvvvvv
*/

.container {
  background-color: rgb(235, 235, 235);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  height: 500px;
  min-height: 0;
  min-width: 0;
}

h1 {
  width: 100%;
  margin: 0;
  padding: 10px;
}
