.panel {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}

/* main content */
#create-location {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: gainsboro; /* this is seen if a map tile fails to render */
}