:host {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  min-height: 0;
  min-width: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
  max-height: 300px;
  overflow-y: scroll;
}

h3 {
  margin: 0;
}
