<mat-card>
  <div *ngIf="!data">
    <h3>Welcome</h3>
    <p>to the project training dashboard. Select a model from one of the pipelines on the left to
    get started.</p>
  </div>
  <div *ngIf="data">
  <h3>Graphs</h3>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let a of loop; let index = index">
    <app-line-plot [data]="data"></app-line-plot>
      <label>
        <select>
          <option value="line">Line Chart</option>
          <option value="box">Box Plot</option>
        </select>
      </label>
      <label>
        <select>
          <option value="y">y vs y-hat</option>
        </select>
      </label>
    </div>
  </div>
  </div>
</mat-card>
