<div class="pipelines">
    <mat-expansion-panel (opened)="globalCVOpenState = true" (closed)="globalCVOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>Project Cross Validation Options</mat-panel-title>
        </mat-expansion-panel-header>
        <app-pipeline-global-options
            *ngIf="vbHelper !== undefined && vbHelperPipeInfo !== undefined"
            [vbHelper]="vbHelper"
            [vbHelperPipeInfo]="vbHelperPipeInfo"
        ></app-pipeline-global-options>
    </mat-expansion-panel>

    <h3>Project Models</h3>
    <app-pipeline-detail
        *ngFor="let pipeline of pipelines"
        [pipeline]="pipeline"
        [pipelineInfo]="pipelineInfo"
    ></app-pipeline-detail>

    <div *ngIf="!creatingPipeline">
        <button mat-flat-button color="primary" type="button" mat-button (click)="createPipeline()">
            Add Pipeline
        </button>
    </div>

    <div *ngIf="creatingPipeline">
        <app-create-pipeline
            *ngIf="vbHelper !== undefined && pipelineInfo !== undefined"
            [vbHelper]="vbHelper"
            [pipelineInfo]="pipelineInfo"
            (pipelineCreated)="pipelineCreated($event)"
            (pipelineCancelled)="pipelineCancelled()"
        ></app-create-pipeline>
    </div>
</div>
