<div class="pipelines">
    <mat-expansion-panel (opened)="globalOptionsOpenState = true" (closed)="globalOptionsOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>Project Cross Validation Options</mat-panel-title>
        </mat-expansion-panel-header>
        <app-pipeline-global-options [project]="project"></app-pipeline-global-options>
    </mat-expansion-panel>

    <h3>Project Models</h3>
    <app-pipeline-detail
        *ngFor="let pipeline of pipelines"
        [project]="project"
        [pipeline]="pipeline"
    ></app-pipeline-detail>

    <div *ngIf="!creatingPipeline">
        <button mat-flat-button color="primary" type="button" mat-button (click)="openPipelineCreationPanel()">
            Add Pipeline
        </button>
    </div>

    <div *ngIf="creatingPipeline">
        <app-pipeline-create
            [project]="project"
            (pipelineCreated)="pipelineCreated()"
            (pipelineCancelled)="pipelineCreationCancelled()"
        ></app-pipeline-create>
    </div>
</div>
