<div class="pipelines">
    <app-pipeline-global-options [project]="project"></app-pipeline-global-options>

    <h3>Project Models</h3>
    <app-pipeline-detail
        *ngFor="let pipeline of pipelines"
        [project]="project"
        [pipeline]="pipeline"
    ></app-pipeline-detail>

    <div *ngIf="!creatingPipeline">
        <button mat-flat-button color="primary" type="button" mat-button (click)="openPipelineCreationPanel()">
            Add Pipeline
        </button>
    </div>

    <div *ngIf="creatingPipeline">
        <app-pipeline-create
            [project]="project"
            (pipelineCreated)="pipelineCreated()"
            (pipelineCancelled)="pipelineCreationCancelled()"
        ></app-pipeline-create>
    </div>
</div>
