<div class="project-panel">
    <app-navigation></app-navigation>
    <div class="project">
        <mat-card class="project-card">
            <div *ngIf="!project">
                <app-project-create></app-project-create>
            </div>
            <ng-container *ngIf="project">
                <!-- Project Metadata -->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <span class="name">{{ project.name }}</span>
                                <span>{{ project.description }}</span>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-project-meta-edit [project]="project"></app-project-meta-edit>
                </mat-expansion-panel>
                <!-- Location -->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Location: {{ locationName }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-location
                        [locationID]="project.location"
                        [projectID]="project.id"
                        (setLocation)="setLocation($event)"
                    ></app-location>
                </mat-expansion-panel>
                <!-- Data -->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Data: {{ datasetName }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-data [datasetID]="project.dataset" (setDataset)="setDataset($event)"></app-data>
                </mat-expansion-panel>
                <!-- Pipelines -->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Model: {{ pipelineNames }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-pipelines [projectID]="project.id" (setPipelines)="setPipelines($event)"></app-pipelines>
                </mat-expansion-panel>
                <!-- project execution -->
                <ng-container *ngIf="isExecutionReady()">
                    <div id="execute">
                        <button type="button" mat-flat-button color="warn" (click)="executeProject()">
                            Execute project
                        </button>
                    </div>
                </ng-container>
            </ng-container>
        </mat-card>
    </div>
</div>
