Location details, map image?
<!-- Data -->
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Data
        </mat-panel-title>
        <mat-panel-description>
            file name(s)?
        </mat-panel-description>
        </mat-expansion-panel-header>
        <app-data></app-data>
    </mat-expansion-panel>
</mat-accordion>
<!-- Analytical -->
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Statistical Model
        </mat-panel-title>
        <mat-panel-description>
            selected model/estimator?
        </mat-panel-description>
        </mat-expansion-panel-header>
        <app-analytical></app-analytical>
    </mat-expansion-panel>
</mat-accordion>
<!-- Prediction -->
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Prediction Results
        </mat-panel-title>
        <mat-panel-description>
            ???
        </mat-panel-description>
        </mat-expansion-panel-header>
        <app-prediction></app-prediction>
    </mat-expansion-panel>
</mat-accordion>