<h3>Global Cross Validation:</h3>
<p>{{cvPipeInfo?.description}}</p>
<!-- Dynamically handle hyper params based on selection change -->
<form [formGroup]="cvFormGroup">
<div class="wrapper">
  <ng-container formArrayName="formControls">
    <div *ngFor="let _ of hyperParams.controls; let i = index">
      <mat-form-field [formGroupName]="i">
        <mat-label>{{cvPipeInfo['hyper-parameters'][i].name}}</mat-label>
        <mat-select [formControlName]="cvPipeInfo['hyper-parameters'][i].name">
          <mat-option *ngFor="let option of getHyperParamOptions(cvPipeInfo['hyper-parameters'][i].options)"
                      [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
</div>
</form>
<mat-icon class="lock" aria-hidden="false" aria-label="lock" (click)="toggleCV()">
  {{disabled ? 'lock' : 'lock_open'}}
</mat-icon>
