<h3>Global Cross Validation:</h3>
<mat-slide-toggle [(ngModel)]="outer"
                  (change)="updateOuterCV()"
                  color="primary">{{outer ? 'On' : 'Off'}}</mat-slide-toggle>
<p>{{vbHelper?.description}}</p>
<!-- Dynamically handle hyper params based on selection change -->
<form *ngIf="outer" [formGroup]="cvFormGroup">
<div class="wrapper">
  <ng-container formArrayName="formControls">
    <div *ngFor="let _ of hyperParams.controls; let i = index">
      <mat-form-field [formGroupName]="i">
        <mat-label>{{vbHelperPipeInfo['hyper-parameters'][i].name}}</mat-label>
        <mat-select [formControlName]="vbHelperPipeInfo['hyper-parameters'][i].name">
          <mat-option *ngFor="let option of getHyperParamOptions(vbHelperPipeInfo['hyper-parameters'][i].options)"
                      [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
</div>
</form>
<div *ngIf="outer" class="btns">
<mat-icon class="lock" aria-hidden="false" aria-label="lock" (click)="toggleCV()">
  {{disabled ? 'lock' : 'lock_open'}}
</mat-icon>
<button *ngIf="!disabled" mat-flat-button color="primary" type="button" (click)="toggleCV()">
  Save
</button>
</div>
