<mat-card>
  <app-global-cv
    [projectID]="projectID"
    [cvPipeInfo]="cvPipe"
    [pipelines]="pipelines"></app-global-cv>
  <!--
  <app-cv [cvPipeInfo]="cvPipe"></app-cv>
  -->
</mat-card>

<ng-container>
  <mat-card>
    <h3>Project pipelines:</h3>
    <p *ngIf="pipelines.length < 1">No pipelines have been created for this project.</p>
    <div *ngFor="let pipeline of pipelines">
      {{ pipeline.name }}
      <button mat-button color="primary" (click)="deletePipeline(pipeline)">dev delete pipeline</button>
    </div>
  </mat-card>
</ng-container>

<ng-container *ngIf="!creatingPipeline">
  <button mat-flat-button color="primary" type="button" mat-button (click)="createPipeline()">Create pipeline</button>
</ng-container>

<ng-container *ngIf="creatingPipeline">
  <app-create-pipeline
    [projectID]="projectID"
    [pipelineInfo]="pipelineInfo"
    (pipelineCreated)="pipelineCreated()"
    (pipelineCancelled)="pipelineCancelled()"></app-create-pipeline>
</ng-container>
