<ng-container *ngIf="!dataset">
  <ng-container *ngIf="!creatingDataset">
    <div>
      <ng-container *ngIf="datasets.length > 0">
        <h4>Use an existing dataset</h4>
        <div *ngFor="let dataset of datasets" class="dataset-buttons">
          <button mat-flat-button color="primary" type="button" (click)="selectDataset(dataset)">Use</button>
          <div class="dataset-name">{{ dataset.name }}, {{ dataset.description }}</div>
          <button (click)="deleteDataset(dataset)" class="trash"><mat-icon>delete_forever</mat-icon></button>
      </div>
        <h4>- Or -</h4>
      </ng-container>
    </div>
    <label for="file-upload" class="file-upload">Upload a dataset</label>
    <input
      id="file-upload"
      type="file"
      accept=".csv, .xls, .xlsx"
      name="files[]"
      (change)="onFileChange($event)"
    />
  </ng-container>

  <ng-container *ngIf="creatingDataset">
    <form  class="fields" [formGroup]="datasetForm">
      <div id="section1">
        <mat-form-field>
          <mat-label>Dataset name: </mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dataset description: </mat-label>
          <input matInput type="text" formControlName="description" />
        </mat-form-field>
      </div>
      <div id="rows">
        <mat-form-field>
          <mat-label>Total rows: </mat-label>
          <input matInput type="text" formControlName="totalRows" readonly />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Start row:</mat-label>
          <input matInput type="number" formControlName="startRow" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>End row:</mat-label>
          <input matInput type="number" formControlName="endRow" />
        </mat-form-field>
        <button mat-flat-button color="primary"  type="button" (click)="selectRows()">Select rows</button>
        <mat-form-field>
          <mat-label>Selected rows:</mat-label>
          <input matInput type="text" formControlName="selectedRows" readonly/>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button mat-flat-button color="primary" type="button" (click)="selectAllRows()">Select all rows</button>
        <button mat-flat-button color="primary" type="button" (click)="clearSelectedRows()">Clear selected rows</button>
        <button mat-flat-button color="primary" type="button" (click)="createDataset()">Create Dataset</button>
        <button mat-flat-button color="primary" type="button" (click)="cancel()">Cancel</button>
      </div>

      <div id="section2">
        <mat-form-field>
          <mat-label>Response variable:</mat-label>
          <input matInput type="text" formControlName="target" readonly />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Feature variables:</mat-label>
          <input matInput type="text" formControlName="features" readonly />
        </mat-form-field>
      </div>
      <div id="choice">Define components to generate A/O values? <input type="checkbox" (click)="toggleAO()" /></div>
      <div id="section3">
        <ng-container *ngIf="generateAO">
          <mat-form-field>
            <mat-label>Bearing:</mat-label>
            <input matInput type="text" formControlName="bearing" readonly />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Magnitude:</mat-label>
            <input matInput type="text" formControlName="magnitude" readonly />
          </mat-form-field>
        </ng-container>
      </div>
    </form>




    <div class="table-flex-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let disCol of columnNames" matColumnDef="{{disCol}}">
          <th mat-header-cell *matHeaderCellDef>
            <div>{{ disCol }}</div>
            <div><input type="radio" name="IV" (click)="updateInputs('IV', disCol)" id="{{disCol}}IV" /></div>
            <div><input type="checkbox" id="DV" (click)="updateInputs('DV', disCol)" id="{{disCol}}DV" /></div>
            <div *ngIf="generateAO">
              <div><input type="radio" name="A" (click)="updateInputs('A', disCol)" id="{{disCol}}A" /></div>
              <div><input type="radio" name="O" (click)="updateInputs('O', disCol)"  id="{{disCol}}O" /></div>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">{{ row[disCol] }}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    
        <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



  </ng-container>
</ng-container>
<ng-container *ngIf="dataset">
  <div class="remove-button"><button mat-flat-button (click)="removeDataset()" class="trash">Remove from project<mat-icon>delete_forever</mat-icon></button></div>
  <app-data-detail [dataset]="dataset"></app-data-detail>
</ng-container>

