<mat-card>
  <mat-card-content>
    <h4>Upload a data file</h4>
    <input
      type="file"
      accept=".csv"
      name="files[]"
      (change)="onFileChange($event)"
    />
  </mat-card-content>
</mat-card>
<form [formGroup]="selectDataFormGroup">
<mat-form-field>
  <mat-label>Dependant Variable</mat-label>
  <mat-select formControlName="dependantVar">
    <mat-option></mat-option>
  </mat-select>
</mat-form-field>
</form>

<table mat-table [dataSource]="columnData">

  <ng-container *ngFor="let disCol of columnNames" matColumnDef="{{disCol}}">
    <th mat-header-cell *matHeaderCellDef>{{ disCol }}</th>
    <td mat-cell *matCellDef="let row">{{ row[disCol] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
</table>
