<div class="panel">
    <app-navigation></app-navigation>
    <div class="home">
        <div class="project-list">
            <div *ngIf="projects.length == 0">
                <app-welcome></app-welcome>
            </div>
            <app-project-detail
                *ngFor="let project of projects"
                [project]="project"
                (projectDeleted)="projectDeleted()"
            ></app-project-detail>
            <div id="create">
                <button mat-flat-button color="primary" type="button" (click)="createProject()">
                    Create new project
                </button>
            </div>
        </div>
    </div>
</div>
