<mat-accordion id="project-pipelines">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="pipelines-status">{{ pipelinesStatusMessage }}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let pipeline of pipelines" class="status-container">
            {{ pipeline.name }}
            <div class="status">Status: {{ pipeline.metadata.status || "Pipeline has not been executed" }}</div>
            <button (click)="cancelPipeline()" *ngIf="!pipeline.completed" class="trash">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
