<ng-container *ngIf="!dataset">
    <ng-container *ngIf="!creatingDataset">
        <div>
            <ng-container *ngIf="datasets.length > 0">
                <h4>Use an existing dataset</h4>
                <div *ngFor="let dataset of datasets" class="dataset-buttons">
                    <button mat-flat-button color="primary" type="button" (click)="selectDataset(dataset)">Use</button>
                    <div class="dataset-name">{{ dataset.name }}, {{ dataset.description }}</div>
                    <button (click)="deleteDataset(dataset)" class="trash">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
                <h4>- Or -</h4>
            </ng-container>
        </div>
        <label for="file-upload" class="file-upload">Upload Dataset</label>
        <input id="file-upload" type="file" accept=".csv, .xls, .xlsx" name="files[]" (change)="onFileChange($event)" />
    </ng-container>
    <ng-container *ngIf="creatingDataset">
        <app-data-create [rawData]="rawData" (datasetCreated)="datasetCreated($event)"></app-data-create>
    </ng-container>
</ng-container>
<ng-container *ngIf="dataset">
    <app-data-detail [dataset]="dataset" (remove)="removeDataset()"></app-data-detail>
</ng-container>
