<div class="panel">
  <app-navigation></app-navigation>
  <mat-card id='project'>
      <h1 class="centered">Project Creation</h1>

      <form class="fields" [formGroup]="projectForm" (keyup.enter)="createProject()">
      
        <div class="formField">
          <mat-form-field>
            <mat-label>Project Name</mat-label>
            <input
              matInput
              type="text"
              formControlName="name"
            />
          </mat-form-field>
        </div>

        <div class="formField">
          <mat-form-field>
            <mat-label>Project Description</mat-label>
            <input 
              matInput 
              type="test"
              formControlName="description" 
            />
          </mat-form-field>
        </div>

      </form>

      <mat-card-actions>
          <button mat-flat-button color="primary" (click)="cancel()">Cancel</button>
          <button mat-flat-button color="primary" (click)="createProject()">Create Project</button>
          {{ statusMessage }}
      </mat-card-actions>

  </mat-card>
</div>