<div class="box">
  <div class="row header">
    <app-header></app-header>
  </div>
  <div class="row content">
    <ng-container *ngIf="userIsAuthenticated()">
      <div class="box">
        <div class="row header">
          <app-navigation></app-navigation>
        </div>
        <div class="row content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!userIsAuthenticated()">
      <app-login></app-login>
    </ng-container>
  </div>
  <div class="row footer">
    <app-footer></app-footer>
  </div>
</div>
