@import url("https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css");

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
}

.row.header {
  flex: 0 1 40px;
}

.row.content {
  flex: 1 1 auto;
  display: block;
}

.row.footer {
  flex: 0 1 30px;
}
