<!--Analytical Pipelines-->
    <form [formGroup]="pipelineFormGroup">
      <h4>Choose options for this pipeline.</h4>
      <mat-form-field>
        <mat-label>Estimator</mat-label>
        <mat-select formControlName="estimatorCtrl" (selectionChange)="estimatorChange($event)">
          <mat-option *ngFor="let pipeline of pipelineInfo" [value]="pipeline.name">
            {{pipeline.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="pipelineNameCtrl">
      </mat-form-field>
      <mat-form-field style="width: 90%;">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="pipelineDescCtrl"></textarea>
      </mat-form-field>
      <br>
      <mat-expansion-panel
        *ngIf="hasHyperParams"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="width: 200px;" class="mat-expansion-toggle-indicator-before">
          <mat-panel-title>
            Advanced
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br>
        <!-- Dynamically handle hyper params based on selection change -->
        <div class="wrapper">
        <ng-container formArrayName="hyperParamCtrl">
        <div *ngFor="let _ of hyperParams.controls; let i = index">
          <mat-form-field [formGroupName]="i">
            <mat-label>{{selectedPipeline['hyper-parameters'][i].name}}</mat-label>
            <mat-select [formControlName]="selectedPipeline['hyper-parameters'][i].name">
              <mat-option *ngFor="let option of getHyperParamOptions(selectedPipeline['hyper-parameters'][i].options)"
                          [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </ng-container>
        </div>
      </mat-expansion-panel>
    </form>

<div class="btn-container">
  <button mat-flat-button color="warn" type="button" (click)="cancelPipeline()">
    Cancel
  </button>
  <button mat-flat-button color="primary" type="button" (click)="addPipeline()">
    Create pipeline
  </button>
</div>
