<!--Analytical Pipelines-->
    <form [formGroup]="pipelineFormGroup">
      <h4>Choose options for this pipeline.</h4>
      <mat-form-field>
        <mat-label>Estimator</mat-label>
        <mat-select formControlName="estimatorCtrl" (selectionChange)="estimatorChange($event)">
          <mat-option *ngFor="let pipeline of pipelineInfo" [value]="pipeline.name">
            {{pipeline.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="pipelineNameCtrl">
      </mat-form-field>
      <mat-form-field style="width: 90%;">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="pipelineDescCtrl"></textarea>
      </mat-form-field>
      <br>
    </form>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="width: 200px;" class="mat-expansion-toggle-indicator-before">
          <mat-panel-title>
            Advanced
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="resamplingApproachFormGroup">
          <h4>Choose resampling options.</h4>
          <h3 style="color: grey">Cross-Validation</h3>
          <ng-template matStepLabel>Resampling Approach</ng-template>
          <mat-form-field>
            <mat-label>Cross-Validation Folds</mat-label>
            <input matInput formControlName="cvFoldsCtrl">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cross-Validation Repetitions</mat-label>
            <input matInput formControlName="cvRepsCtrl">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cross-Validation Group Count</mat-label>
            <input matInput formControlName="cvGroupCountCtrl">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cross-Validation Strategy</mat-label>
            <mat-select formControlName="cvStrategyCtrl">
              <mat-option value="Quantile">
                Quantile
              </mat-option>
              <mat-option value="Linear">
                Linear
              </mat-option>
            </mat-select>
          </mat-form-field>
          <h3 style="color: grey;">Bootstrap</h3>
          <mat-form-field>
            <mat-label>Bootstrap Strategy</mat-label>
            <mat-select formControlName="bootStrategyCtrl">
              <mat-option value="None">
                None
              </mat-option>
              <mat-option value="Linear">
                Linear
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Bootstrap Repetitions</mat-label>
            <input matInput formControlName="bootRepsCtrl">
          </mat-form-field>
        </form>
        <br>
      </mat-expansion-panel>
 <button mat-raised-button class="new" (click)="addPipeline()">
   Add
 </button>
