
  <mat-card>
    <h3>Models</h3>
    <!--
    <p *ngIf="models.length < 1">No pipelines have been created for this project.</p>
    <div *ngFor="let model of models">
      ID: {{model[0]?.id}}, Name: {{model[0]?.name}}
    </div>
    -->
    <ul>
      <li>Pipeline #1
        <ul>
          <li>Model #1</li>
          <li>Model #2</li>
          <li>Model #3</li>
          <li>Model #4</li>
          <li>Model #5</li>
          <li>Model #6</li>
          <li>Model #7</li>
          <li>Model #8</li>
          <li>Model #9</li>
          <li>Model #10</li>
        </ul>
      </li>
    </ul>
  </mat-card>
