/* 
this class is assigned to the mapViewNode by the esri api.
not explicitly setting a height here causes the map container 
to expand vertically until browser crashes due to low memory.
*/
.esri-view {
  height: 90%;
}

.map-container {
  height: 100%;
  display: grid;
}
