<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!-- Resampling Approach -->
  <mat-step  [stepControl]="resamplingApproachFormGroup">
    <form [formGroup]="resamplingApproachFormGroup">
      <h4>Choose resampling options.</h4>
      <h3 style="color: grey">Cross-Validation</h3>
      <ng-template matStepLabel>Resampling Approach</ng-template>
      <mat-form-field>
        <mat-label>Cross-Validation Folds</mat-label>
        <input matInput formControlName="cvFoldsCtrl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cross-Validation Repetitions</mat-label>
        <input matInput formControlName="cvRepsCtrl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cross-Validation Group Count</mat-label>
        <input matInput formControlName="cvGroupCountCtrl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cross-Validation Strategy</mat-label>
        <mat-select formControlName="cvStrategyCtrl">
          <mat-option value="Quantile">
            Quantile
          </mat-option>
          <mat-option value="Linear">
            Linear
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h3 style="color: grey;">Bootstrap</h3>
      <mat-form-field>
        <mat-label>Bootstrap Strategy</mat-label>
        <mat-select formControlName="bootStrategyCtrl">
          <mat-option value="None">
            None
          </mat-option>
          <mat-option value="Linear">
            Linear
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bootstrap Repetitions</mat-label>
        <input matInput formControlName="bootRepsCtrl">
      </mat-form-field>
    </form>
  </mat-step>

  <!--Select Data-->
  <mat-step [stepControl]="selectDataFormGroup" label="Select Data">
    <form [formGroup]="selectDataFormGroup">
      <h4 style="margin-bottom: -5px;">Select the dependent variable to be modelled.</h4>
      <mat-form-field>
        <mat-label>Dependant Variable</mat-label>
        <mat-select formControlName="dependantVar" (selectionChange)="onChangeDependantSelection($event)"  required>
          <mat-option *ngFor="let v of vars" [value]="v">
            {{v}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <h4>Select all of the independent variables to include in the model.</h4>
        <div>
          <mat-checkbox color="primary" (change)="onSelectAll($event)" #selectAll>
            Select All
          </mat-checkbox>
        </div>
        <ul class="independent">
          <li *ngFor="let v of vars">
            <mat-checkbox color="primary" [value]="v" #checkboxes>
              {{v}}
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </form>
  </mat-step>

  <!--Analytical Pipelines-->
  <mat-step [stepControl]="pipelineFormGroup" label="Analytical Pipeline">
    <form [formGroup]="pipelineFormGroup">
      <h4>Add a pipeline for this experiment.</h4>
      <mat-form-field>
        <mat-label>Estimator</mat-label>
        <mat-select formControlName="estimatorCtrl" (selectionChange)="estimatorChange($event)">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="pipelineNameCtrl" #pipelineName>
      </mat-form-field>
      <mat-form-field style="width: 90%;">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="pipelineDescCtrl"></textarea>
      </mat-form-field>
      <br>
      Advanced expansion panel here
    </form>
  </mat-step>

  <!--Run-->
  <mat-step>
    <ng-template matStepLabel>Run</ng-template>
    <h4>Click run to begin developing your experiment.</h4>
    <div>
      <button mat-raised-button class="new" (click)="runModel($event);">Run</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
