<h2>Create Model</h2>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!--Model Name-->
  <mat-step [stepControl]="nameFormGroup">
    <form [formGroup]="nameFormGroup">
      <h4>Type a name and description for this model.</h4>
      <ng-template matStepLabel>Name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Model name" formControlName="nameCtrl" required>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
    </form>
  </mat-step>

  <!--Select Data-->
  <mat-step [stepControl]="selectDataFormGroup" label="Select Data">
    <form [formGroup]="selectDataFormGroup">
      <h4 style="margin-bottom: -5px;">Select the dependent variable to be modelled.</h4>
      <mat-form-field>
        <mat-label>Dependant Variable</mat-label>
        <mat-select formControlName="dependantVar" (selectionChange)="onChangeDependantSelection($event)"  required>
          <mat-option *ngFor="let v of vars" [value]="v">
            {{v}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <h4>Select all of the independent variables to include in the model.</h4>
        <div>
          <mat-checkbox color="primary" (change)="onSelectAll($event)" #selectAll>
            Select All
          </mat-checkbox>
        </div>
        <ul class="independent">
          <li *ngFor="let v of vars">
            <mat-checkbox color="primary" [value]="v" #checkboxes>
              {{v}}
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </form>
  </mat-step>

  <!--Analytical Methods-->
  <mat-step [stepControl]="methodFormGroup" label="Analytical Methods">
    <form [formGroup]="methodFormGroup">
      <h4>Add estimators for this model.</h4>
      <div formArrayName="estimators">
        <div class="estimator"
             *ngFor="let estimator of methodFormGroup.get('estimators')['controls']; let estIndex = index"
             [formGroupName]="estIndex">
          <div [formGroup]="estimator">
            <h3 style="color: gray">Method #{{estIndex + 1}}</h3>
            <mat-form-field>
              <mat-label>Estimator</mat-label>
              <mat-select formControlName="estimatorSelect" (selectionChange)="onChangeEstimator($event)" required>
                <mat-option *ngFor="let type of types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-raised-button class="new" (click)="addMethod();">Add Method</button>
    </form>
  </mat-step>

  <!--Run-->
  <mat-step>
    <ng-template matStepLabel>Run</ng-template>
    <h4>Click run to begin developing the model.</h4>
    <div>
      <button mat-raised-button class="new" (click)="runModel($event);">Run</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
