<div class="dashpanel">
    <div class="panel-top">
        <select name="panel-type" (change)="loadPanel($event)">
            <option *ngFor="let panel of PANEL_TYPES" value="{{panel.title}}">{{panel.title}}</option>
        </select>
        <label for="decision-criteria">Decision Criteria</label>
        <input type="number" name="decision-criteria" placeholder="100" (keyup)="decisionCriteriaChange($event)" />
    </div>
    <div class="chart-container">
        <app-plotly *ngIf="data" [data]="data" [plotTitle]="plotTitle" [xAxisTitle]="xAxisTitle"
            [yAxisTitle]="yAxisTitle" [xNTicks]="nTicks"></app-plotly>
    </div>
</div>