<ng-container *ngIf="!location">
    <div>
        <ng-container *ngIf="locations.length > 0">
            <h4>Use an existing location</h4>
            <div *ngFor="let location of locations" class="location-buttons">
                <button mat-flat-button color="primary" type="button" (click)="selectLocation(location)">Use</button>
                <div class="location-name">{{ location.name }}, {{ location.description }}</div>
                <button (click)="deleteLocation(location)" class="trash"><mat-icon>delete_forever</mat-icon></button>
            </div>
            <h4>- Or -</h4>
        </ng-container>
        <button mat-flat-button color="primary" (click)="createLocation()">Create Location</button>
    </div>
</ng-container>
<ng-container *ngIf="location">
    <app-location-detail [location]="location" (removeLocation)="removeLocation()"></app-location-detail>
</ng-container>
