.project-info,
mat-expansion-panel {
    background-color: gainsboro;
}

.project-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: 5px;
}

#project-description {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr auto;
}

#description {
    display: grid;
    grid-template-rows: auto 1fr;
}

#project-name {
    font-size: 1.5rem;
}

p {
    margin-bottom: 0;
}

#mini-map {
    background-color: lightsteelblue;
}
