.project-info,
mat-expansion-panel {
    background-color: gainsboro;
}

.project-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: 5px;
}

#project-description {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr auto;
}

#description {
    display: grid;
    grid-template-rows: auto 1fr ;
}

#project-name {
    font-size: 1.5rem;
}

p {
    margin-bottom: 0;
}

#mini-map {
    background-color: lightsteelblue;
}

#pipeline-panel {
    display: grid;
    padding: 1rem;
    padding-top: 0;
}

mat-expansion-panel {
    background-color: #ffffff;
}

#project-pipelines {
    width: max-content;
    max-width: 100%;
}

#buttons {
    padding: 0 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 1rem;
}

#buttons > button {
    border-radius: 4px;
    border: 1px solid rgb(80, 80, 80);
    width: 10rem;
}

.status-container {
    display: flex;
    place-items: center;
    flex-direction: row;
}

.status {
    padding: 0;
    display: flex;
    place-items: center;
    margin: 0 .5rem 0 .5rem;
}

.trash {
    border: none;
    background: none;
}

.trash:hover {
    background-color: rgb(228, 228, 228);
}