<mat-card *ngIf="project" class="project-info">
    <div class="info-a">
      <h2>
        {{ project.name || "no project name" }}
      </h2>
      <p>
        {{ project.description || "no project description" }}
      </p>
      <p>
        Location: {{ project.location || "no location"}}
      </p>
      <p>
        Dataset: {{ project.dataset || "no dataset" }}
      </p>
    </div>
    
    <mat-accordion class="info-b">
      <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              Pipelines
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let pipeline of pipelines">{{ pipeline.name }}
          <span class="status">Status:{{ pipeline.status | json }}</span>
          <button mat-button type="button" (click)="cancelPipeline()">Cancel</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="buttons">
      <button mat-button type="button" (click)="editProject(project)">Project setup</button>
      <ng-container *ngIf="hasDashboard">
        <button mat-button type="button" (click)="gotoDashboard(project)">Project dashboard</button>
      </ng-container> 
      <button mat-button type="button" (click)="cloneProject(project)">Clone Project</button>
      <button mat-button type="button" (click)="deleteProject(project)">Delete Project</button>
    </div>
    <app-mini-map [location]="project" class="map"></app-mini-map>
</mat-card>
