<div *ngIf="project" class="project-info">
    <div id="project-description">
        <div id="description">
            <div id="project-name">
                <span>{{ project.name }}: </span>
                <span>{{ project.description }}</span>
            </div>
            <div id="details">
                <p>Location: {{ locationName || "no location" }}</p>
                <p>Dataset: {{ datasetName || "no dataset" }}</p>
            </div>

            <div id="pipeline-panel">
                <app-pipeline-status [project]="project"></app-pipeline-status>
            </div>
        </div>

        <div id="mini-map">
            <app-mini-map [location]="project"></app-mini-map>
        </div>
    </div>

    <div id="buttons">
        <button mat-flat-button color="primary" type="button" (click)="editProject(project)">Project setup</button>
        <ng-container *ngIf="true">
            <button
                *ngIf="project.completed"
                mat-flat-button
                color="primary"
                type="button"
                (click)="gotoDashboard(project)"
            >
                Project dashboard
            </button>
        </ng-container>
        <button mat-flat-button color="primary" type="button" (click)="cloneProject(project)">Clone Project</button>
        <button mat-flat-button color="primary" type="button" (click)="deleteProject(project)">Delete Project</button>
    </div>
</div>
