<mat-card *ngIf="project" class="project-info">
  
  <div id="project-description">
    <div id="description">
      
      <div id="project-name">
          <span>{{ project.name }}:  </span>
          <span>{{ project.description }}</span>
      </div>

      <div id="details">
        <p>
          Location: {{ locationName || "no location"}}
        </p>
        <p>
          Dataset: {{ datasetName || "no dataset" }}
        </p>
        <p id="pipeline-heading">Project pipelines:</p>
      </div>

    </div>

    <div id="mini-map">
      <app-mini-map [location]="project"></app-mini-map>
    </div>

  </div>

  <div id="pipeline-panel">
    <mat-accordion id="project-pipelines">
      <mat-expansion-panel (opened)="panelOpenState=true"
                                (closed)="panelOpenState=false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <span class="pipelines-status">{{ pipelinesStatusMessage }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let pipeline of pipelines">{{ pipeline.name }}
          <span class="status">Status: {{ pipeline.metadata.status || "Pipeline has not been executed" }}</span>
          <button mat-flat-button color="primary" type="button" (click)="cancelPipeline()">Cancel</button>
          <div>{{pipeline|json}}</div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div id="buttons">
    <button mat-flat-button color="primary"  type="button" (click)="editProject(project)">Project setup</button>
    <ng-container *ngIf="hasDashboard">
      <button mat-flat-button color="primary"  type="button" (click)="gotoDashboard(project)">Project dashboard</button>
    </ng-container> 
    <button mat-flat-button color="primary"  type="button" (click)="cloneProject(project)">Clone Project</button>
    <button mat-flat-button color="primary"  type="button" (click)="deleteProject(project)">Delete Project</button>
  </div>
</mat-card>
