<div class="contents">
    <h2>Virtual Beach</h2>
    <h3>Introduction</h3>
    <p>Virtual Beach is a software package designed for developing site-specific statistical models for the prediction of pathogen indicator levels at recreational beaches.</p>
    <h3>Audience</h3>
    <p>VB is primarily designed for beach managers responsible for making decisions regarding beach closures due to pathogen contamination. However, researchers, scientists, engineers, and students interested in studying relationships between water quality indicators and ambient environmental conditions will find VB useful.</p>
</div>
