.container {
    display: grid;
    height: 100%;
}

mat-form-field.mat-form-field,
button {
    font-size: .75rem;
    margin: .5rem .5rem 0 .5rem;
}
mat-form-field.mat-form-field:first-of-type {
    margin-top: 1rem;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: .5rem;
    margin: .5rem;
}

#buttons > button {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
}