<ng-container *ngIf="userIsAuthenticated()">
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="gotoHome()">Home</button>
    <button mat-raised-button color="primary" (click)="gotoMap()">
      ng-component-Map
    </button>
    <button mat-raised-button color="primary" (click)="gotoMap2()">
      Esri-loader Map
    </button>
    <button mat-raised-button color="primary" (click)="gotoData()">Data</button>
    <button mat-raised-button color="primary" (click)="gotoAnalytical()">
      Analytical
    </button>
    <button mat-raised-button color="primary" (click)="gotoPrediction()">
      Prediction
    </button>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </div>
</ng-container>
