#navigation {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    width: 100%;
    place-items: center;
    padding-bottom: 1rem;
}

button.title {
    font-size: inherit;
}

.buttons-left,
.buttons-right {
    width: 7rem;
}

.buttons-left{
    padding-left: 1rem;
}

.buttons-right {
    padding-right: 1rem;
    text-align: right;
}

#user-name {
    color: #d6d6d6;
}
